<?xml version="1.0" encoding="utf-8"?>
<Project>
  <PropertyGroup>
    <Configuration>Release</Configuration>
    <Platform>Any CPU</Platform>
    <TargetFramework>net9.0</TargetFramework>
    <RuntimeIdentifier>$(PicaWindowsX64RuntimeIdentifier)</RuntimeIdentifier>
    <PublishProtocol>FileSystem</PublishProtocol>
    <PublishDir>bin\$(Configuration)\$(TargetFramework)\publish\</PublishDir>
    <DeleteExistingFiles>true</DeleteExistingFiles>
    <PublishReadyToRun>true</PublishReadyToRun>
    <SelfContained>false</SelfContained>
    <PublishSingleFile>false</PublishSingleFile>
  </PropertyGroup>
</Project>
