<?xml version="1.0" encoding="utf-8"?>
<Project>
  <PropertyGroup>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <Configuration>Release</Configuration>
    <Platform>Any CPU</Platform>
    <TargetFramework>net9.0</TargetFramework>
    <RuntimeIdentifier>$(PicaWindowsX64RuntimeIdentifier)</RuntimeIdentifier>
    <PublishProtocol>FileSystem</PublishProtocol>
    <PublishDir>$([System.IO.Path]::GetFullPath('$(MSBuildProjectDirectory)\..\..\publish\Pica.Desktop\WindowsGitHub'))\</PublishDir>
    <DeleteExistingFiles>true</DeleteExistingFiles>
    <PublishReadyToRun>true</PublishReadyToRun>
    <SelfContained>false</SelfContained>
    <PublishSingleFile>false</PublishSingleFile>
    <IsPicaGitHubPublish>true</IsPicaGitHubPublish>
  </PropertyGroup>
</Project>
